@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;900&display=swap');
/* shared css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    border: 4px solid rgb(151, 252, 0);
}

:root {
    --btn-color: #FF42A5;
    --second-btn-color: #4EC5F7;
}

.btn-primary {
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    background-color: var(--btn-color);
    color: #FFF;
    font-size: 1.25rem;
    margin-top: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.linear-title{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}

/* shared css end */
.nav-container {
    max-width: 100%;
    height:80px;
    display: flex;
    padding: 55px 130px 30px 130px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-logo img {
    width: 80px;
    height: 40px;
    object-fit: cover;
}

.gamer {
    color: #FF42A5;
}

.nav-logo h1 {
    font-size: 45px;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link>a {
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;


}

.follow-icon {
    display: flex;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.follow-icon p {
    color: #3C354F;
}

.nav-link .follow-icon img {
    margin-left: 10px;
    margin-top: 7px;
    width: 20px;
    height: 20px;
}

/* navbar design end */

.banner-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.banner-image{
    width: 50%;
}
.banner-image img{
    width: 100%;
    height: 100vh;
    
}

.text-content {
    position: relative;
    top: 150px;
}

.banner-text-area {
    width: 760px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-text-area .banner-title {
    color: #0B0223;
    font-size:3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text-area .goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
}

.text-content p {
    margin-top: 15px;
}

.text-content i {
    margin-right: 8px;
    width: 20px;
    height: 20px;

}

.text-content .btn-blue {
    background-color: var(--second-btn-color);
}




/* gamer container style */
.gamer-container {
    max-width: 100vw;
    height: 80vh;
    margin-bottom: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.gamer-text-area {
    margin: 60px 120px 0px 0px;
    text-align: right;

}

.gamer-img img {
    width: 700px;
    height: 500px;
    padding: 50px 0px 0px 30px;
}

.gamer-text-area h3 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
}

.gamer-text-area h1 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* online funny games videos */
.funny-videos{
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.funny-videos h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.funny-video-text-area{
    text-align: center;
    margin-bottom: 50px;
}
.funny-text-videos{
    display: flex;
}
.funny-text-videos .image-box img{
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-box{
    position: relative;
    display: inline-block;

}
.overlay{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96.8%;
    height: 82.7%;
    border-radius: 10px;
    opacity: 0;
    background-color: #141414bb;
    font-size: 2rem;
    transition: 0.4s ease;


}
.play-video{
    transition:color .4s ease ;
}

.image-box:hover .overlay,.play-video{
    opacity: .9;
    color: white;
}

/* anniversary section */

.anniversary-container{
    max-width: 1240px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.anniversary-text{
    
    width: 341px;
    height: 180px;
}
.anniversary-text h1{
    font-size: 3rem;
    font-weight: 700;
}

.anniversary-image img{
    width: 30rem;
    height: 32.5rem;

}
 .bottom-img img{
    width: 200px;
    height: 220px;
    position: absolute;
    margin-top: -110px;
    margin-left: -100px;

}


/* gamer container */
.play-games-container{
    max-width: 1240px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    flex-direction: row-reverse;
}
.gamer-text{
    
    width: 341px;
    height: 180px;
}
.gamer-text h1{
    font-size: 3rem;
    font-weight: 700;
}
.gamer-image img{
    width: 30rem;
    height: 32.5rem;

}

.bottom-right-img img{
    width: 200px;
    height: 220px;
    position: absolute;
    margin-top: -110px;
    margin-left: 380px;
    
    
}


/* career container css style */
.career-container{
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(90deg, #FF42A5 0%, #ff42a4 100%);
    
}
.career-text{
    color: white;
    margin-left: 160px;
    width: 680px;
}
.h4-list{
    
    display: flex;
    margin-right: 90px;
}
.left-part{
    
    text-align: start;
    margin-right: 40px;
    font-weight: 600;
    line-height: 30px;
}
.right-part{
    
    text-align: end;
    font-weight: 600;
    line-height: 30px;

}
.btn-white{
    background-color: white;
    color: var(--btn-color);
}
.career-description{
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 22px;
}

.career-bg-image img{
            width: 100%;
            height: 100vh;


}
.genre-container{
    width: 100%;
    height: 360px;
    padding: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.genre-items{
    width: 220px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    transition: .1s;

}
.first-row{
    display: flex;
    justify-content: space-around;
}


.second-row{
    display: flex;
    justify-content: space-around;
}
.genre-items img{
    width: 40px;
    height: 40px;
    margin: 5px ;
   
}
.genre-items h5{
    margin-left: 15px;
}
.genre-items:hover{
    border:2px solid #F948B2;
    color: var(--btn-color);
}

/* footer section */
.footer-container{
    width: 100%;
    height: 550px;
    background: #0B0223;
    padding-top: 100px;

}
.footer-container .logo{
    width: 250px;
    height: 50px;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 1.5rem;
}
.logo img{
    width: 60px;
    height: 40px;
    
}
.links{
    text-align: center;
    margin-top: 50px;

}
.links a{
    text-decoration: none;
    color: white;
    margin-right: 60px;
    
}
.link-icon{
        margin-top: 50px;
        text-align: center;
}
.link-icon i{
    color: white;
    font-size: 2rem;
    margin-right: 2.5rem;
}

.privacy-policy{
    text-align: center;
    margin-top: 50px;

}
.privacy-policy a{
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff99;
    margin-right: 60px;
    
}
.footer-description{
    color: #ffffff99;
    text-align: center;
    margin-top:20px ;
}



