@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.nav-container{
    height: 120px;
    display: flex;
    padding: 55px 150px 55px 150px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-logo img{
    width: 80px;
    height: 40px;
    object-fit: cover;
}
.gamer{
    color: #FF42A5;
}
.nav-logo h1{
    font-size: 45px;
}
.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link > a{
    text-decoration: none;
    margin-right: 20px;
    color: #3C354F;
    

}
.follow-icon{
    display: flex;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 10px;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.follow-icon p{
    color: #3C354F;
}
.nav-link .follow-icon img{
    margin-left: 10px;
    width:20px ;
    height: 20px;
}
